
/lua_template.sln
/Debug
/lua_template.suo
/lua_template.vcproj.THIJS-DEVSYS.Thijs Schreijer.user
/lua_template.ncb
/ipch
*.sdf
*.user
/udtype_example/Debug
/*.dll

/*.manifest

/*.exp

/*.lib

/*.obj

/udtype_example/*.dll

/udtype_example/*.manifest

/udtype_example/*.exp

/udtype_example/*.lib

/udtype_example/*.obj
